body,
html {
    height: 100%;
}

.bg {
    background-image: url("../images/img.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-page {
    background-image: url("../images/img-page.jpg");

    background-position: top center;
    background-repeat: no-repeat;
}

.top-padding-30 {
    padding-top: 30px;
}

.top-padding-150 {
    padding-top: 150px;
}

.top-padding-100 {
    padding-top: 100px;
}

.white-box {
    background-color: #fff;
    padding: 20px;
}

.footer-padding {
    padding-bottom: 30px;
    padding-top: 30px;

}
